div.Faq-section
{
	 color: white !important;
 	 	background-position: center; 
		max-height: 100%;
		max-width: 100%;
		background-image: url('../Images/tredmill.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
  		/*position: relative;*/


}